---
import SEOMeta from '../components/common/SEOMeta.astro';
import Navbar from '../components/common/Navbar.astro';
import Footer from '../components/common/Footer.astro';
import '../styles/global.css';

export interface Props {
  title: string;
  description?: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="zh-TW">
  <head>
    <SEOMeta title={title} description={description} ogImage={ogImage} />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
